/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  margin-bottom: 0;
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;

  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* Reset and base styles  */

html,
body {
  min-height: 100%;
  background-color: #e6e7eb;
}

.wrapper {
  /* max-width: 1520px; */
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  min-height: 100vh;
  flex-grow: 1;
  margin-top: 100px;
}

.header {
  background-color: #e6e7eb;
  min-width: max-content;
}

.container {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6e7eb;
  align-items: center;
  position: relative;
  display: flex;
  align-items: center;
}
.container a {
  color: #2c2d2e;
  font-family: "SF Pro Display", sans-serif;
}

.download_btn {
  margin-right: 77px;
  margin-top: 8px;
  margin-bottom: 9px;
  background-color: #d4d6db;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 28px;
  font-weight: 600;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav_icons {
  display: flex;
}

.info {
  align-items: center;
  display: flex;
  font-size: 14px;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 600;
}

.contacts {
  align-items: center;
  display: flex;
  margin-left: 208px;
  font-size: 14px;
  font-weight: 600;
  font-family: "SF Pro Display", sans-serif;
  position: absolute;
  right: 0;
}

.nav label,
.nav input {
  display: none;
}

.contacts_2,
.contacts_3 {
  margin-left: 49px;
}

.info_1,
.info_2,
.info_3,
.info_4 {
  margin-right: 24px;
}

.header_search {
  margin-top: 57px;
  background-color: #ffffff;
  left: 0;
  width: 100%;
  position: absolute;
}
.header_search_container {
  padding-top: 25px;
  padding-bottom: 29px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_input {
  color: #106cc8;
  font-size: 14px;
  font-weight: 600;
  font-family: "SF Pro Display", sans-serif;
  width: 757px;
  height: 48px;

  /* padding: 12px, 24px, 12px, 24px; */
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;

  /* border: 1px solid; */
  margin-right: 135px;
  border-radius: 12px;
}

.icon_container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.icon_container p {
  display: block;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

.icon_container_middle {
  display: block;

  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 32px;
  margin-right: 32px;
}

.icon_container_middle p {
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

.catalog_btn {
  width: 143px;
  height: 48px;
  padding: 18px 40px 18px 40px;
  border-radius: 12px;
  gap: 10px;
  background-color: #4865d9;

  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 51px;
  margin-right: 16px;
}

.contacts_container {
  max-width: 1520px;
  margin-top: 48px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
}

.contacts_title {
  font-family: "SF Pro Display", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  text-align: left;
  margin-bottom: 48px;
}

.contacts_section {
  display: flex;
}

.item1,
.item2 {
  width: 100%;
  background-color: #ffffff;
  border-radius: 24px;
}

.item1 {
  margin-right: 12px;
}

.item1_text,
.item2_text {
  padding-left: 24px;
  padding-top: 16px;
  width: 469px;
  height: 188px;
}

.item1_text h5,
.item2_text h5 {
  margin-bottom: 16px;
  font-family: "SF Pro Display", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.item1_text p,
.item2_text p {
  font-family: "SF Pro Display", sans-serif;

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.phones {
  display: flex;
}

.phone {
  margin-right: 32px;
}

.phone li {
  margin-bottom: 12px;
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.email p {
  margin-bottom: 12px;
}

.bills {
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #4865d9;
  margin-top: 38px;
  margin-bottom: 62px;
}

.people {
  margin: auto;
  max-width: 1520px;
  margin-bottom: 127px;
}

.people h3 {
  font-family: "SF Pro Display", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 48px;
  margin-top: 80px;
}

.people_cards {
  display: grid;
  grid-template-columns: 356px 356px 356px 356px;
  grid-template-rows: auto;
  justify-content: space-between;
}

.people_card h5 {
  font-family: "SF Pro Display", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 32px;
}

.people_card ul li {
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.people_card ul li img {
  margin-right: 8px;
}

.people_btn {
  white-space: nowrap;
  display: flex;
  align-items: center;
  width: 227px;
  height: 48px;
  padding: 18px 40px 18px 40px;
  border-radius: 12px;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 56px;
  background-color: #aeaeae;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

.footer {
  width: 100%;

  padding-top: 70px;

  background-color: rgba(232, 234, 244, 1);
}

.section {
  margin-right: 40px;
}
.section_last {
  margin-right: 25px;
}
.section_last ul li {
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 16px;
}

.section ul li {
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 16px;
}
.section_social {
  margin-right: 40px;
}

.section_social ul li {
  word-wrap: break-word;

  display: flex;
  margin-bottom: 16px;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.section_social ul li img {
  margin-right: 8px;
}

.footer_contacts {
  display: flex;
}

.footer_phone,
.footer_email {
  margin-right: 48px;
  white-space: nowrap;
}

.footer_phone ul li,
.footer_email ul li {
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.footer_phone h5,
.footer_email h5,
.footer_pay h5 {
  margin-bottom: 6px;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

.footer_wrapper {
  max-width: 1520px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}

.footer_pay ul {
  display: flex;
}
.footer_pay ul li {
  margin-right: 20px;
}

.pos-f-t {
  display: none;
}

@media screen and (max-width: 1210px) {
  .bills {
    margin-left: 15px;
  }
  .item1_text,
  .item2_text {
    white-space: normal;
    font-size: 20px;
    padding-left: 24px;
    padding-top: 16px;
    width: 369px;
    height: auto;
  }
  .catalog_btn {
    margin-right: 8px;
    margin-left: 8px;
  }
  .search_input {
    width: 150px;
    margin-right: 0px;
  }

  .footer_contacts {
    margin: 0 auto;
  }
  .nav_icons {
    display: none;
  }
  .container {
    justify-content: space-around;
  }
  .header {
    display: none;
  }

  .header_search {
    position: static;
    margin-top: 0;
  }

  .drop_info li {
    display: block;
    text-align: center;
    margin: 0;
  }

  /* .dropdown-menu.show {
    position: absolute;
    display: block;
    min-width: 100%;
    left: 0;
  } */

  .pos-f-t {
    position: sticky;
    display: block;
    background-color: rgba(232, 234, 244, 1);
  }

  .navbar {
    position: static;
    height: 57px;
  }

  .navbar-toggler {
    position: absolute;
    right: 0;
  }

  .nav-item a {
    font-family: "SF Pro Display", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
  }
  .contacts {
    display: none;
  }

  .info {
    display: none;
  }

  .contacts_section {
    flex-direction: column;
  }

  .item1 {
    margin-right: 0;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 1490px) {
  .header_search_container {
    justify-content: space-around;
  }
  .search_input {
    width: 400px;
    margin-right: 0px;
  }
  .drop_info li {
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .icon_container_middle {
    margin: 0;
    padding-right: 25px;
    padding-left: 25px;
  }

  .icon_container {
    margin: 0;
    padding-right: 25px;
    padding-left: 25px;
  }
  .navbar_icons {
    display: flex;
    justify-content: space-around;
  }
  .footer_wrapper {
    display: flex;
    flex-direction: column;
  }

  .section_last {
    margin-right: 0;
  }
  .section_last ul {
    margin: 0;
  }

  .section_last ul li {
    text-align: center;
    display: block;
  }

  .section {
    margin-right: 0;
    text-align: center;
  }

  .section ul li {
    text-align: center;
    display: block;
  }

  .section_social ul li {
    margin-right: 0;
    text-align: center;
    display: block;
  }

  .footer {
    padding-top: 0px;
  }
  /* .footer_contacts {
      flex-direction: column;
    } */
  .content {
    margin-top: 0px;
  }
  .contacts_title {
    margin-left: 15px;
  }
  .contacts_section {
    margin: 15px 15px 15px 15px;
  }
  .map_section {
    margin: 0 auto;
    width: 80%;
  }

  .people h3 {
    text-align: center;
  }
  .people_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .people_card {
    margin-bottom: 15px;
  }

  .people_card ul li,
  .people_card h5 {
    text-align: center;
  }
}
